.user-input[b-h0snbqs0be] {
    margin-bottom: 32px;
}

.input[b-h0snbqs0be] {
    max-width: 150px;
    margin: 12px 0;
}

.id-input[b-h0snbqs0be] {
    max-width: 75px;
}

.button[b-h0snbqs0be] {
    max-width: 150px;
}
