body[b-4ow8zq7mpu] {
}

.create[b-4ow8zq7mpu] {
    max-width: 300px;
}

input[b-4ow8zq7mpu] {
    display: block;
    margin-bottom: 12px;
}

.info[b-4ow8zq7mpu] {
    margin: 12px 0;
    display: block;
}