body[b-2oepdjljby] {
}

.user-input[b-2oepdjljby] {
    max-width: 400px;
}

input[b-2oepdjljby] {
    display: block;
    margin-bottom: 12px;
}

.id-input[b-2oepdjljby] {
    width: 50px;
}

.info[b-2oepdjljby] {
    display: block;
    margin-top: 32px;
}