@page "/delete"
@inject IDataService Service;

<h3>Delete Data</h3>

<div class="user-input">
    <div class="input id-input">
        <RadzenFormField AllowFloatingLabel="false" Text="Id">
            <RadzenNumeric @bind-Value="@CurrentId" Step="1" />
        </RadzenFormField>
    </div>

    <div class="button">
        <RadzenButton Style="width: 100%;" Click=@DeleteItem Text="Delete Item" />
    </div>
</div>

<div>
    <h5>Deleted Item: </h5>

    @if (DeletedItem != null)
    {
        <Item Data="DeletedItem" />
    } else
    {
        <p>No deleted items found...</p>
    }
</div>

@code {
    private string Endpoint = "Store";

    public int CurrentId { get; set; }

    public StoreItem DeletedItem { get; set; } = null;

    public async Task DeleteItem()
    {
        var temp = await Service.DeleteStoreItem(Endpoint, CurrentId);

        if (temp != null)
        {
            DeletedItem = temp;
        }
    }
}
