@page "/get"
@inject IDataService Service

<h3>Get Data</h3>


<div class="read">
    <div>
        <div class="controls">
            <div class="input id-input">
                <RadzenFormField AllowFloatingLabel="false" Text="Id">
                    <RadzenNumeric @bind-Value="@CurrentId" Step="1" />
                </RadzenFormField>
            </div>

            <div class="button">
                <RadzenButton Style="width: 100%;" Click=@GetItemById Text="Load Item" />
            </div>
        </div>
    </div>

    <div class="item-result">
        <h5>Item Found:</h5>

        @if (LoadedItem != null)
        {
            <div>
                <Item Data="@LoadedItem" />
            </div>
        } else
        {
            <p>No individual item found...</p>
        }

    </div>
</div>

<div>
    <h5>All:</h5>
    <ul class="all-list">
        @foreach (var item in Items)
        {
        <Item Data="@item" />
        }
    </ul>
</div>

@code {

    private string Endpoint = "Store";

    public StoreItem[] Items = [];
    public int CurrentId { get; set; }
    public StoreItem LoadedItem { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        Items = await Service.GetStoreItems(Endpoint);
    }

    public async Task GetItemById()
    {
        if (CurrentId == 0 || CurrentId > Items.Length) return;

        LoadedItem = await Service.GetStoreItemById(Endpoint, CurrentId);
    }
}
