body {
}

.create {
    max-width: 300px;
}

input {
    display: block;
    margin-bottom: 12px;
}

.info {
    margin: 12px 0;
    display: block;
}

.input {
    margin: 12px 0;
    max-width: 150px;
}

.button {
    width: 150px;
}