@page "/post"
@inject IDataService Service

<h3>Post Data</h3>

<div class="create">
    <div class="input">
        <RadzenFormField AllowFloatingLabel="false" Text="Item Name">
            <RadzenTextBox @bind-Value="@CurrentItem.Name" />
        </RadzenFormField>
    </div>
    
    <div class="input">
        <RadzenFormField AllowFloatingLabel="false" Text="Item Description">
            <RadzenTextBox @bind-Value="@CurrentItem.Description" />
        </RadzenFormField>
    </div>

    <div class="input">
        <RadzenFormField AllowFloatingLabel="false" Text="Item Price">
            <RadzenNumeric @bind-Value="@CurrentItem.Price" Step="0.5" />
        </RadzenFormField>
    </div>    

    <div class="button">
        <RadzenButton Style="width: 100%;" Click=@UpdateItem Text="Create Item" />
    </div>

    <span class="info"><b>Info: <br /></b> @Message</span>
</div>

@code {

    private string Endpoint = "Store";
    public StoreItem CurrentItem = new StoreItem();

    public string Message { get; set; } = "";

    public async Task UpdateItem()
    {
        var temp = await Service.CreateStoreItem(Endpoint, CurrentItem);

        Message = temp.ToString();
    }
}
